body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2, h3{
    color: #2e2f42;
    margin: 0;
}
p{
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
.container {
    display: flex;
    max-width: 1158px;
    padding: 0 15;
    margin: auto 0;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Header */
.menu{
    border-bottom: 1px solid #e7e9fc;
}
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
}
.address-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.menu-list {
    display: flex;
    gap: 40px;
    margin-right: 332px;
}
.menu-list-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    margin: 0;
}
.menu-list-item:hover,
.menu-list-item:focus {
    color:#404bbf;
}
.menu-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    margin: 0;

}
.menu-contacts:hover,
.menu-contacts:focus {
    color:#404BBF;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform:uppercase;
    color: #4d5ae5;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}
.logo span{
    color:#2e2f42;
}

/* Order Service */

.order-service {
    background-color: #2E2F42;
}
.order-service-title {
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07
}
.order-service-button {
    background-color: #4d5ae5;
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor:pointer;
}
.order-service-button:hover,
.order-service-button:focus {
    background-color: #404BBF;
}

/* Advantages */

.advantages-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* Our Team */

.our-team {
    background-color: #F4F4FD;
}
.our-team-list {
    background-color: #FFFFFF;
}
 .our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
 }
.our-team-names{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
 }
 .our-team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
 }

 /* Our Portfolio */

.our-portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.our-portfolio-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-portfolio-list {
    color: #FFFFFF;
}

/* Footer */

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-footer span{
    color: #f4f4fd;
}
.page-footer {
    background-color: #2E2F42;
}
.page-footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
